@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary: #ff6b6b;
  --secondary: #ff6b6bba;
  --success: #28C76F;
  --warning: #FFA726;
  --danger: #E53935;
  --light: #F8F9FA;
  --dark: #0C0B10;
  --muted: #6C757D;
}


@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-muted: var(--muted);

}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --primary: #FF7B7B;
    --secondary: #ff8787bc;
    --success: #4DD17D;
    --warning: #FFB547;
    --danger: #F14A45;
    --light: #1E1E1E;
    --dark: #F5F5F5;
    --muted: #A0A0A0;
  }

  body {
    color: var(--dark);
  }

}

 @theme {
 --color-text: #0C0B10;
  --container-8xl: 96rem;

}


@layer utilities {
  .special-font {
    font-family: "Zentry";
    letter-spacing: 3px;
    font-weight: 400;
    font-feature-settings: "ss01" on;
  }

  /* .special-font b {
    font-family: "Zentry";
    font-feature-settings: "ss01" on;
  } */
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }


  body {
    @apply text-[var(--color-text)];
  }

  .dark body {
    --color-text: #F8F9FA;
  }



}




body {
  font-family:  "robert-regular", Arial, Helvetica, sans-serif;
}

body , :root{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}